<div class="page-title">
    <div class="container">
        <h1>Apps</h1>
        <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li class="active">Apps</li>
        </ul>
        <form action="#" method="get" class="form-search search-header visible-desktop visible-tablet">
            <a href="<%= new_application_path %>" class="btn btn-primary">Create New App</a>
        </form>
    </div>
</div>

<div class="container">
    <div class="row-fluid app-list">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
            <ul class="event-list">
                <li>
                    <img alt="Independence Day" src="img/temp/2.jpg" />
                    <div class="info">
                        <a href="app-detail.html"><h3 class="title">Edu App #1 <span class="badge badge-success">Published</span></h3></a>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem, magni obcaecati quaerat consequatur illum dolorum sunt consequuntur fugiat, ex non pariatur, incidunt dolorem quae! Quisquam corrupti nemo libero ullam.</p>
                        <ul><li style="width:50%;"><span class="icon-money"></span> $39.99</li></ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li class="app-edit" style="width:33%;"><a href="app-edit.html#info" title="Edit app"><span class="icon-edit"></span></a></li>
                            <li class="app-setting" style="width:34%;"><a href="app-publish.html" title="Un-Publish your app"><span class="icon-check"></span></a></li>
                            <li class="app-remove" style="width:33%;"><a href="#app-remove" title="Delete app"><span class="icon-trash"></span></a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <img alt="My 24th Birthday!" src="img/temp/4.jpg" />
                    <div class="info">
                        <a href="app-detail.html"><h3 class="title">Edu App #2 <span class="badge badge-warning">Waiting for approve</span></h3></a>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea sunt veniam, explicabo eaque. Sequi nesciunt enim numquam consequuntur, laudantium quaerat. Voluptatem architecto, suscipit similique. Quae et, fugiat quos totam accusantium.</p>
                        <ul><li style="width:50%;"><span class="icon-money"></span> Free</li></ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li class="app-edit" style="width:33%;"><a href="app-edit.html#info" title="Edit app"><span class="icon-edit"></span></a></li>
                            <li class="app-setting" style="width:34%;"><a href="app-publish.html" class="" title="Waiting for approve"><span class="icon-time"></span></a></li>
                            <li class="app-remove" style="width:33%;"><a href="#app-remove" title="Delete app"><span class="icon-trash"></span></a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <img alt="Independence Day" src="img/temp/1.jpg" />
                    <div class="info">
                        <a href="app-detail.html"><h3 class="title">Edu App #3</h3></a>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel beatae odit error ratione, eveniet iusto nihil ipsum aliquid pariatur ducimus quibusdam accusamus doloremque corporis adipisci explicabo, optio quis? Ipsum, autem.</p>
                        <ul><li style="width:50%;"><span class="icon-money"></span> Free</li></ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li class="app-edit" style="width:33%;"><a href="app-edit.html#info" title="Edit app"><span class="icon-edit"></span></a></li>
                            <li class="app-setting" style="width:34%;"><a href="app-publish.html" title="Publish your app"><span class="icon-check-empty"></span></a></li>
                            <li class="app-remove" style="width:33%;"><a href="#app-remove" title="Delete app"><span class="icon-trash"></span></a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <img alt="My 24th Birthday!" src="img/temp/3.jpg" />
                    <div class="info">
                        <a href="app-detail.html"><h3 class="title">Edu App #4</h3></a>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis repudiandae amet repellat ratione alias quod autem deserunt fugit, illo, ab rerum aut omnis asperiores reiciendis doloremque soluta, laudantium, accusantium totam.</p>
                        <ul><li style="width:50%;"><span class="icon-money"></span> Free</li></ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li class="app-edit" style="width:33%;"><a href="app-edit.html#info" title="Edit app"><span class="icon-edit"></span></a></li>
                            <li class="app-setting" style="width:34%;"><a href="app-publish.html" title="Publish your app"><span class="icon-check-empty"></span></a></li>
                            <li class="app-remove" style="width:33%;"><a href="#app-remove" title="Delete app"><span class="icon-trash"></span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

pSlider.rows = 2;
pSlider.lock = true;
pSlider.loadScroll();

</script>

<script>
new TiltSlider( document.getElementById( 'slideshow' ) );
</script>