<footer>
	<div class="footer-top clearfix">
		<div class="container">
			<i class="icon-twitter icon-2x"></i>
			<ul id="foot-twitts"></ul>
		</div>
	</div>
	<div class="footer-inner">
		<div class="container">
			<div class="row-fluid">
				<div class="span4">
					<h4>About gotoClassroom</h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris. Nulla facilisi. Fusce mattis congue vulputate. Curabitur eu libero eu urna varius egestas.
				</div>
				<div class="span4">
					<h4>Get Social</h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna.
					<div class="social-icons">
						<a href="#" title=""><i class="icon-2x icon-css3 "></i></a>
						<a href="#" title=""><i class="icon-2x icon-facebook-sign"></i></a>
						<a href="#" title=""><i class="icon-2x icon-twitter-sign"></i></a>
						<a href="#" title=""><i class="icon-2x icon-github-sign"></i></a>
						<a href="#" title=""><i class="icon-2x icon-linkedin-sign"></i></a>
						<a href="#" title=""><i class="icon-2x icon-pinterest-sign"></i></a>
						<a href="#" title=""><i class="icon-2x icon-google-plus-sign"></i></a>
					</div>
				</div>
				<div class="span4">
					<h4>Contact Us</h4>
					<div class="row-fluid">
						<form class="form" action="#" method="get">
							<div class="row-fluid">
								<div class="control-group span6">
									<input id="name" type="text" placeholder="Name" class="input-block-level">
								</div>
								<div class="control-group span6">
									<input id="email" type="text" placeholder="E-mail" class="input-block-level">
								</div>
							</div>
							<div class="row-fluid">
								<textarea rows="4" placeholder="Message" class="span12"></textarea>
							</div>
							<button type="submit" class="btn btn-primary">Send!</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bot clearfix">
		<div class="container">
			<div class="copyright">Copyright by <a href="#" title="" target="_blank">gotoClassroom</a></div>
			<a href="#" class="to-top"><i class="icon-2x icon-angle-up"></i></a>
		</div>
	</div>
</footer>