<div class="cont-header">

	<!-- Menu -->
	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<!-- <a href="#" title="" id="menu_search"  data-html="true" data-toggle="popover" data-placement="left" data-content="<form action='#' method='get' class='mobile-search'><input type='text' placeholder='Search...'></form>"  class="share"><i class="icon-search icon-large"></i></a> -->
				<div id="menu_bg"><i class="icon-reorder icon-2x"></i></div>
				<div id="menu_cont">
					<select id="menu" name="menu">
						<option value="">- Select -</option>
						<option value="index.html">Home</option>
						<option disabled="disabled">Development</option>
						<option value="#"> - API Document</option>
						<option value="#"> - Developer Community</option>
						<option value="#">Blog</option>
						<option value="#">Sign Up</option>
						<option value="#">Sign In</option>
					</select>
				</div>
				<!-- Logo -->
				<div class="brand_logo">
					<a href="index.html"><img src="/assets/LOGO1.png" alt="gotoClassroom" width="90%"></a>
				</div>
				<!-- Logo end -->
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class=""><a href="index.html" title=""><i class="icon-home"></i> Home</a></li>
						<li class="dropdown active">
							<a title=""><i class="icon-coffee"></i> Developement</a>
							<ul class="dropdown-menu">
								<li><a href="document.html" title="">API Document</a></li>
								<li><a href="#" title="">Developer Community</a></li>
							</ul>
						</li>
						<li><a href="blog.html" title=""><i class="icon-desktop"></i> Blog</a></li>
					</ul>

					<ul class="nav navbar-nav pull-right">
						<li class="dropdown active">
							<a title=""><i class="icon-user"></i> Welcome, Brian</a>
							<ul class="dropdown-menu">
								<li><a href="app-list.html" title=""><i class="icon-coffee"></i> Your Apps</a></li>
								<li><a href="editprofile.html" title=""><i class="icon-edit-sign"></i> Edit Profile</a></li>
								<li><hr><a href="editprofile.html" title=""><i class="icon-off"></i> Logout</a></li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Menu end -->
</div>